.skillset {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Ultrabold;
}

.skill-header {
    font-family: Regular;
    font-size: 24px;
    margin: 8px;

}

.skill {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px;
}   

.skill-tag {
    background-color: #1C1C1C;
    color: grey;
    border-radius: 16px;
    padding: 16px;
    margin: 8px;
    font-family: Regular;
    font-size: 16px;
}