.display-box {
  color: white;
  border: solid #252525 2px;
  border-radius: 16px;
  margin: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.display-title {
  font-family: Ultrabold;
  padding: 16px;
}

.display-content {
  padding: 16px;
  font-family: Regular;
}

.display-shots {
  border-radius: 8px;
  background-color: #252525;
  color: white;
  padding: 16px;
  font-family: Regular;
  width: 100%;
  border: #252525 solid 1px;
}

.display-shots:hover {
  cursor: pointer;
  background-color: #181818;
  color: white;
  transition: 0.3s;
  border: white solid 1px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.tag {
  background-color: #121212;
  color: #d7d7d7;
  border-radius: 16px;
  padding: 8px;
  margin: 4px;
  font-family: Regular;
  font-size: 12px;
}
