:root {
  --yellow: #e2ff00;
  --white: #f7ffbc;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.magic-text {
  animation: background-pan 2s linear infinite;
  background: linear-gradient(
    to right,
    var(--yellow),
    var(--white),
    var(--yellow)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-family: UltraboldItalics;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  padding: 16px;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  padding: 64px 64px 32px;
  font-size: 108px;
  color: white;
  font-family: Ultrabold;
}

.hero-sub-text {
  color: white;
  font-size: 24px;
  padding: 8px;
}

.name,
.location {
  font-family: RegularItalics;
}

.role {
  font-family: UltraboldItalics;
  color: var(--yellow);
  opacity: 0.8;
}

.scroll-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.scroll-text > p {
  font-size: 14px;
}

.about-me,
.skills-block,
.education-block,
.experience-block {
  margin-top: 32px;
  width: 100%;
  padding: 24px;
}

.experience-block > #heading > span {
  font-family: Regular;
  font-size: 16px;
}

.about-me > p {
  font-size: 20px;
  color: white;
  font-family: Regular;
}

.heading {
  font-family: Ultrabold;
  color: #e2ff00;
}

/* .hidden{
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
} */

footer {
  font-family: Regular;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

@media (max-width: 800px) {
  .hero-text {
    font-size: 52px;
    padding: 16px;
    margin: 16px;
  }
}
